# Rename this file to .env and fill in your own values

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://vidhu:vidhu12345@cluster0.x69wqtb.mongodb.net/?appName=Cluster0
# Port the server will run on
PORT=6001
